<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include include/header %>
    <p>Welcome to <%- title %></p>
    <%- include include/footer %>
  </body>
</html>
